<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <section class ="welcome-text">
    <div class = "container">
      <div class = "row">
        Curated shoppable products on Instagram.
      </div>
    </div>
  </section>

    <section class="instagram-wrap">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <h3>Featured Items</h3>
                    <div class="row">
                    <% @featured.each do |feature| %>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                          <div class = "photo-box">
                            <div class = "fade-wrap">
                              <div class = "image-wrap">
                                <%= link_to image_tag(feature.image), {controller: "products", action: "show", id: feature.id} %>
                              </div>  
                              
                              <div class = "likebutton likebutton-fade">
                              <%= render partial: "likes/likebutton", locals: { product: feature } %>
                              </div>
                              
                              <div class = "like-quantity" data-product-id = "<%= feature.id %>">
                               +<%= feature.likes.count %>
                              </div>

                            </div>

                                <div class="description"><%= feature.description %>
                                  <div class="price"><%= number_to_currency(feature.price, :precision => 0)%></div>
                                  <div class="price">By @<%= link_to feature.handle, "http://instagram.com/#{feature.handle}/", :target => '_blank'%> </div>

                                </div>
                          </div>
                      </div>
                      <%end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <footer>
    </footer>
    <section class="footer-bottom">
   
    </section>
 
</body>
</html>