<!DOCTYPE html>
<html>
<head>
  <title>BaeBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Satisfy|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="visible-xs navbar-brand navbar-brand-xs" href="/">BaeBox</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-brand centered-brand hidden-xs">
          <div class ="brand"><%= link_to "BaeBox", root_path %></div> 
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to "Submit", {controller: "submissions", action: "new"} %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Product.category_types.each do |cat| %>
                <li>
                  <%= link_to cat, root_path(category: cat) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
          
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a>Hello <%= current_user.name %></a></li>
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li><%= link_to "Log in with Instagram", "/auth/instagram" %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
